/* Mixins */
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin person($bgImage, $bgSize, $bgPosition) {
  background-image: $bgImage;
  background-size: $bgSize;
  background-position: $bgPosition;
  width: 150px;
  height: 150px;
  border-radius: 99px;
  z-index: 1;
  box-shadow: $boxShadow;
}

@mixin seeMore {
  width: 100%;
  text-align: center;
}

@mixin seeMoreLink {
  background-color: #5b7bd3;
  padding: 1rem 1rem;
  border-radius: 1rem;
  color: white;
  box-shadow: 0px 0px 9px 0px #b9b7b7;
}

@mixin seeMoreHover {
  background-color: #7996e7;
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px #969494;
}

/* Variables */
$boxShadow: 0px 0px 10px 0px rgba(182, 178, 178, 0.39);

/* Main */
/* Section 1 */
main .main__section1 {
  width: 100%;
  height: 100%;

  .main__section1__title {
    height: 10%;
    margin-top: 3rem;
    @include flex($justify: space-around, $align: center);
  }

  .main__section1__card__deck {
    margin: auto;
    width: 100%;
    @include flex($justify: space-around, $align: center);
    .main__section1__card__deck__card__info {
      @include flex($justify: space-around, $align: center);
      flex-direction: column;
      border-radius: 1rem;
      padding: 1rem 1rem;
      border: none;
      box-shadow: 0px 0px 5px 0px #c7c7c7;
      height: 50vh;
    }

    .main__section1__card__deck__card__info__title {
      font-size: 1.3rem;
      text-align: center;
      padding: 0.5rem 0rem;
    }
  }
  .main__section1__seeMore {
    @include seeMore();
    margin-top: 2rem;

    .main__section1__seeMore__link {
      @include seeMoreLink();

      &:hover {
        @include seeMoreHover();
      }
    }
  }
}
/* Section 2 */
main .main__section2 {
  width: 100%;
  height: 100%;

  .main__section2__title {
    height: 10%;
    margin-top: 3rem;
    @include flex($justify: center, $align: center);
  }

  .main__section2__teammates__card__deck {
    margin: auto;
    width: 100%;
    height: 100%;
    @include flex($justify: space-around, $align: center);

    .main__section2__teammates__card__deck__card {
      height: fit-content;
      @include flex($justify: space-around, $align: center);
      flex-direction: column;
      border-radius: 1rem;
      padding: 2rem 1rem;
      border: none;
      margin-bottom: 10rem !important;
    }

    .main__section2__teammates__card__deck__card__info {
      box-shadow: $boxShadow;
      border-radius: 1rem;
      padding: 2rem 1rem;
      background-color: #fffefe;
      position: absolute;
      top: 75% !important;

      .main__section2__teammates__card__deck__card__info__title {
        font-size: 1.3rem;
        text-align: center;
        padding: 0.5rem 0rem;
        color: #4452cf;
      }
    }
    .main__section2__teammates__card__deck__card__image {
      width: auto;
      border-radius: 5rem;
      @include flex($justify: space-around, $align: center);
      position: relative;
    }

    .main__section2__teammates__card__deck__card__image__person1 {
      @include person($bgImage: url("../img/person1.jpg"), $bgSize: cover, $bgPosition: center);
      @include flex($justify: space-around, $align: center);
    }

    .main__section2__teammates__card__deck__card__image__person2 {
      @include person($bgImage: url("../img/person2.jpg"), $bgSize: cover, $bgPosition: center);
      @include flex($justify: space-around, $align: center);
    }

    .main__section2__teammates__card__deck__card__image__person3 {
      @include person($bgImage: url("../img/person3.jpg"), $bgSize: cover, $bgPosition: top);
      @include flex($justify: space-around, $align: center);
    }
  }
  .main__section2__seeMore {
    @include seeMore();
    margin-top: 5rem;

    .main__section2__seeMore__link {
      @include seeMoreLink();

      &:hover {
        @include seeMoreHover();
      }
    }
  }
}
/* Contacto */
main .main__section3 {
  width: 100%;
  height: 100%;
  margin-top: 4rem;
  .main__section3__title {
    height: 10vh;
    @include flex($justify: flex-start, $align: center);
  }

  .main__section3__line {
    height: 10px;
    width: 40%;
    background-color: #7996e7;
    margin-bottom: 2rem;
  }

  .main__section3__align__items {
    @include flex($justify: space-around, $align: flex-start);

    .main__section3__form {
      width: 50%;
      height: 100%;
      @include flex($justify: space-around, $align: flex-start);
      flex-direction: column;
      line-height: 3;

      .main__Section3__form__textarea {
        height: 200px;
        width: 100%;
        resize: none;
        border-radius: 0.4rem;
        border-color: #c6c7c7;
        padding: 0.5rem 1rem;
      }
    }
    .main__Section3__form__submit {
      background-color: #5b7bd3;
      padding: 0rem 2rem;
      margin-top: 1rem;
      border: none;
      color: white;
      box-shadow: 0px 0px 9px 0px #b9b7b7;

      &:hover {
        background-color: #7996e7;
        text-decoration: none;
        box-shadow: 0px 0px 10px 0px #969494;
      }
    }
  }
}
