/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

@import "index";
@import "about";
@import "contact";
@import "services";
@import "team";

/* Mixins */
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

section {
  height: 100%;
  padding: 3rem 0rem;
}

h1 {
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
  padding: 2rem 0rem;
}

/* Header */
header {
  width: 100%;
  background-color: #e9e7ea;


.header__navbar {
  width: 100%;
}

.header__navbar__brand__logo {
  color: rgb(209, 142, 79);
  font-size: 40px;
  animation: world 3s infinite linear;
  margin-left: 1rem;
}

.header__navbar__collapse {
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
}

.header__navbar__collapse__menu {
  @include flex($justify: center, $align: center);
}

.header__navbar__collapse__menu__item {
  padding: 0rem 1rem;
  line-height: 2;
}

.header__navbar__collapse__menu__link {
  font-weight: light;
  padding: 0.5rem 2rem;
  color: black !important;
  display: block;
  width: 100px;
  margin-top: 0.5rem;
}

.header__navbar__collapse__menu__link--active {
  font-weight: bold;
  background-color: rgb(209, 142, 79);
  color: white !important;
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px rgb(170, 170, 170);
  border-radius: 0.7rem;
}

.header__navbar__collapse__menu__link:hover {
  background-color: rgb(209, 142, 79);
  color: white !important;
  transition: 0.2s all;
  border-radius: 0.7rem;
}
}
/* Hero */
.hero {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  min-height: 90vh;
  @include flex($justify: center, $align: center);
  flex-direction: column;


.hero__subtitle {
  font-weight: lighter;
  font-size: 1.7rem;
  padding: 1rem 0rem;
  text-align: center;
}
}
/* Footer */
footer {
  width: 100%;
  height: 20%;
  @include flex($justify: space-around, $align: center);
  background-color: rgb(121, 150, 231);
  color: white;
  flex-wrap: wrap;
  padding: 1rem 0rem;


.footer__networks {
  height: 100%;
  @include flex($justify: space-around, $align: center);
  flex-wrap: wrap;
}

.footer__networks__network {
  margin: 1rem;
}
}
/* Keyframes */
@keyframes world {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media screen and (max-width: 830px) {
  /* Contact */
  .main__section3__align__items {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
  }

  .main__section3__form {
    width: 90% !important;
  }

  .main__Section3__location {
    width: 100%;
    height: 100%;
    margin: auto;
    @include flex($justify: space-around, $align: center);
    margin-bottom: 2rem;
  }

  iframe {
    width: 90%;
    margin: auto;
  }
  /* Plans */
  .main__section__plan__card__deck {
    @include flex($justify: space-around, $align: center);
    flex-direction: column !important;
    width: 90%;
    margin: auto;
  }

  /* Teammates */
  .main__section__team__article__teammate__card__deck__card {
    width: 100%;
    @include flex($justify: space-around, $align: center);
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .main__section__team__article__teammate__image__source {
    width: 90%;
  }
  /* Contact */
  .main__section__contact__form {
    width: 90%;
  }
  /* Frequent Questions */
  .main__aboutUs__article__accordion {
    width: 100%;
  }

  .main__aboutUs__article__image {
    display: none;
  }

  /* Footer */
  footer {
    flex-direction: column;
  }

  footer .footer__networks {
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  /* Teammates */
  .main__section__team__article__teammate__card__deck__card {
    flex-wrap: wrap;
  }

  .main__section__team__article__teammate__image__source {
    width: 90%;
  }
}
