/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

@import "index";
@import "about";
@import "contact";
@import "services";
@import "team";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

section {
  height: 100%;
  padding: 3rem 0rem;
}

h1 {
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
  padding: 2rem 0rem;
}

/* Header */
header {
  width: 100%;
  background-color: #e9e7ea;
}

header .header__navbar {
  width: 100%;
}

header .header__navbar__brand__logo {
  color: rgb(209, 142, 79);
  font-size: 40px;
  animation: world 3s infinite linear;
  margin-left: 1rem;
}

header .header__navbar__collapse {
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
}

header .header__navbar__collapse__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header__navbar__collapse__menu__item {
  padding: 0rem 1rem;
  line-height: 2;
}

header .header__navbar__collapse__menu__link {
  font-weight: light;
  padding: 0.5rem 2rem;
  color: black !important;
  display: block;
  width: 100px;
  margin-top: 0.5rem;
}

header .header__navbar__collapse__menu__link--active {
  font-weight: bold;
  background-color: rgb(209, 142, 79);
  color: white !important;
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px rgb(170, 170, 170);
  border-radius: 0.7rem;
}

header .header__navbar__collapse__menu__link:hover {
  background-color: rgb(209, 142, 79);
  color: white !important;
  transition: 0.2s all;
  border-radius: 0.7rem;
}

/* Hero */
.hero {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__subtitle {
  font-weight: lighter;
  font-size: 1.7rem;
  padding: 1rem 0rem;
  text-align: center;
}

/* Main */
/* Section 1 */
main .main__section1 {
  width: 100%;
  height: 100%;
}

main .main__section1__title {
  height: 10%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main__section1__card__deck {
  margin: auto;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .main__section1__card__deck__card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem 1rem;
  border: none;
  box-shadow: 0px 0px 5px 0px rgb(199, 199, 199);
}

main .main__section1__card__deck__card__info__title {
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5rem 0rem;
}

main .main__section1__seeMore {
  min-height: 30%;
  width: 100%;
  text-align: center;
}

main .main__section1__seeMore__link {
  background-color: rgb(91, 123, 211);
  padding: 1rem 1rem;
  border-radius: 1rem;
  color: white;
  box-shadow: 0px 0px 9px 0px rgb(185, 183, 183);
}

main .main__section1__seeMore__link--active:hover {
  background-color: rgb(121, 150, 231);
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px rgb(150, 148, 148);
}

/* Section 2 */
main .main__section2 {
  width: 100%;
  height: 100%;
}

main .main__section2__title {
  height: 10%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main__section2__teammates__card__deck {
  margin: auto;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .main__section2__teammates__card__deck__card {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem 1rem;
  border: none;
  margin-bottom: 10rem !important;
}

main .main__section2__teammates__card__deck__card__info {
  box-shadow: 0px 0px 10px 0px rgba(182, 178, 178, 0.39);
  border-radius: 1rem;
  padding: 2rem 1rem;
  background-color: rgb(255, 254, 254);
  position: absolute;
  top: 75% !important;
}

main .main__section2__teammates__card__deck__card__title {
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5rem 0rem;
  color: rgb(68, 82, 207);
}

main .main__section2__teammates__card__deck__card__image {
  width: auto;
  border-radius: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

main .main__section2__teammates__card__deck__card__image__person1 {
  background-image: url("../img/person1.jpg");
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 99px;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgba(182, 178, 178, 0.39);
}

main .main__section2__teammates__card__deck__card__image__person2 {
  background-image: url("../img/person2.jpg");
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 99px;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgba(182, 178, 178, 0.39);
}

main .main__section2__teammates__card__deck__card__image__person3 {
  background-image: url("../img/person3.jpg");
  background-size: cover;
  background-position: top;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 99px;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgba(182, 178, 178, 0.39);
}

main .main__section2__seeMore {
  min-height: 30vh;
  margin-top: 4rem;
  width: 100%;
  text-align: center;
}

main .main__section2__seeMore__link {
  background-color: rgb(91, 123, 211);
  padding: 1rem 1rem;
  border-radius: 1rem;
  color: white;
  box-shadow: 0px 0px 9px 0px rgb(185, 183, 183);
}

main .main__section2__seeMore__link--active:hover {
  background-color: rgb(121, 150, 231);
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px rgb(150, 148, 148);
}

/* Contacto */
main .main__section3 {
  width: 100%;
  height: 100%;
}

main .main__section3__title {
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main .main__section3__line {
  height: 10px;
  width: 40%;
  background-color: rgb(121, 150, 231);
  margin-bottom: 2rem;
}

main .main__section3__align__items {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

main .main__section3__form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  line-height: 3;
}

main .main__Section3__form__textarea {
  height: 200px;
  width: 100%;
  resize: none;
  border-radius: 0.4rem;
  border-color: rgb(198, 199, 199);
}

main .main__Section3__form__submit {
  background-color: rgb(91, 123, 211);
  padding: 0rem 2rem;
  margin-top: 1rem;
  border: none;
  color: white;
  box-shadow: 0px 0px 9px 0px rgb(185, 183, 183);
}

main .main__Section3__form__submit:hover {
  background-color: rgb(121, 150, 231);
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px rgb(150, 148, 148);
}

/* Servicios */
.main__section__services__title {
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__section__services__card__deck {
  width: 100%;
  margin: auto;
}

.main__section__services__card__deck__card {
  border: none;
  padding: 2rem 0rem;
}

.main__section__services__card__deck__card__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 2rem 0rem;
  margin-bottom: 2rem;
}

.main__section__services__card__deck__card__info__title {
  padding: 2rem 0rem;
}

.main__section__services__card__deck__card__info--background-change {
  background-color: rgb(156, 105, 180);
  color: white;
}

.main__section__services__card__deck__card__card__info__image {
  width: 30%;
  filter: drop-shadow(0px 5px 5px rgb(70, 69, 69));
}

/* Planes */
.main__section__plans__title {
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__section__plans__card__deck {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: row;
}

.main__section__plans__card__deck__plan__card {
  text-align: center;
  height: auto;
  padding: 1rem 2rem;
  width: 25%;
  margin-right: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #e7e4e4;
}

.main__section__plan__card__deck__card__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
}

.main__section__plan__card__deck__card__info__title {
  color: #343235;
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

.main__section__plans__group__plan__prosCons {
  list-style: none;
  line-height: 2;
  text-align: left;
  list-style: none;
  display: list-item;
  margin: auto;
}

.main__section__plans__group__plan__prosCons__item {
  list-style: circle;
}

.main__section__plans__group__plan__prosCons__item__group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main__section__plans__card__deck__plan__subtitle {
  font-size: 1rem;
  color: #2eb391;
  padding-bottom: 1rem;
}

.main__section__plans__group__plan__prosCons__item__price {
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

.main__section__plans__group__prosCons__item__button {
  background-color: rgb(91, 123, 211);
  padding: 0.6rem 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: none;
  color: white;
  box-shadow: 0px 0px 9px 0px rgb(185, 183, 183);
}

.main__section__plans__group__prosCons__item__button:hover {
  background-color: rgb(52, 79, 153);
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

/* Teammates */
.main__section__team__title {
  text-align: center;
  margin-top: 2rem;
}

.main__section__team__article {
  height: 100%;
  width: 100%;
  margin: auto;
}

.main__section__team__article__card__deck {
  width: 100%;
  margin: auto;
  height: 100%;
}

.main__section__team__article__teammate__card__deck__card {
  margin: auto;
  line-height: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main__section__team__article__teammate__image__source {
  height: auto;
  width: 40%;
  padding: 1rem 2rem;
  margin: auto;
}

.main__section__team__article__teammate__card__deck__card__info {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.main__section__teammate__card__deck__Card__info__networks__link {
  font-size: 45px;
  color: rgb(121, 150, 231);
}

.main__section__teammate__card__deck__Card__info__networks__link
  .fa-facebook-square:hover {
  color: #3b5998;
}

.main__section__teammate__card__deck__Card__info__networks__link
  .fa-twitter-square:hover {
  color: #00acee;
}

.main__section__teammate__card__deck__Card__info__networks__link
  .fa-instagram-square:hover {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__section__teammate__card__deck__Card__info__networks__link
  .fa-linkedin:hover {
  color: #00a0dc;
}

.main__section__teammate__card__deck__Card__info__networks__title {
  text-align: center;
}

/* Our Work */
.main__section__work {
  height: 100%;
}

.main__section__work__title {
  text-align: center;
}

.main__section__team__article {
  height: 100%;
  width: 100%;
}
.main__section__work__article__card__deck__card {
  margin: auto;
  line-height: 2;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
  border: none;
}

.main__section__work__article__card__deck {
  margin: auto;
  width: 90%;
}

.main__section__work__article__card__deck__card__info__image {
  height: auto;
  width: 90%;
  padding: 1rem 2rem;
  margin: auto;
}

.main__section__work__article__work__card__deck__card__info {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

/* Contact */
.main__section__contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0rem;
}

.main__section__contact__title {
  width: 100%;
  text-align: center;
  padding: 2rem 0rem;
}

.main__section__contact__form {
  display: flex;
  flex-direction: column;
  line-height: 2;
  width: 50%;
  padding: 2rem 2rem;
  background-color: #d1c5f0;
  border-radius: 1rem;
}

.main__section__contact__form__label {
  font-weight: bold;
}

.main__section__contact__form__input {
  padding: 0.5rem 0.5rem;
  border: none;
  color: #343235;
  font-family: "Spartan", sans-serif;
  border-radius: 0.5rem;
}

.main__section__contact__form__textarea {
  resize: none;
  border: none;
  font-family: "Spartan", sans-serif;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.main__section__contact__form__submit {
  background-color: rgb(91, 123, 211);
  padding: 0rem 2rem;
  margin-top: 1rem;
  border: none;
  color: white;
  box-shadow: 0px 0px 9px 0px rgb(185, 183, 183);
  text-transform: uppercase;
}

.main__section__contact__form__submit:hover {
  background-color: rgb(121, 150, 231);
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px rgb(150, 148, 148);
}

/* About Us */
.main__section__aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 2rem;
}

.main__aboutUs__article {
  width: 100%;
}

.main__section__aboutUs__title {
  padding: 3rem 0rem;
  font-size: 2.5rem;
}

.main__section__aboutUs__info {
  line-height: 2;
}

.main__aboutUs__article__frequentQuestions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0rem;
}

.main__aboutUs__article__border {
  width: 20%;
  height: 10px;
  border-bottom: solid #01b0a4;
  padding: 0.5rem 0rem;
  border-width: 0.2rem;
  animation-name: width;
  animation-duration: 0.6s;
}

.main__aboutUs__article__accordion {
  width: 50%;
  cursor: pointer;
  margin-top: 1rem;
  border: 1px solid #01b0a4;
  border-radius: 0.3rem;
}

.main__aboutUs__article__accordion__card__body {
  width: 100%;
  display: block;
}

.main__aboutUs__article__accordion__card__btn {
  color: black;
  font-weight: bold;
}

.main__aboutUs__article__accordion__card__btn:hover {
  text-decoration: none;
  background-color: none;
  color: #01b0a4;
}

.main__aboutUs__article__image {
  width: 40%;
}

/* Footer */
footer {
  width: 100%;
  height: 20%;
  display: flex;
  background-color: rgb(121, 150, 231);
  justify-content: space-around;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  padding: 1rem 0rem;
}

footer .footer__networks {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

footer .footer__networks__network {
  margin: 1rem;
}

/* Keyframes */
@keyframes world {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media screen and (max-width: 830px) {
  /* Contact */
  .main__section3__align__items {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
  }

  .main__section3__form {
    width: 90% !important;
  }

  .main__Section3__location {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
  }

  iframe {
    width: 90%;
    margin: auto;
  }
  /* Plans */
  .main__section__plan__card__deck {
    display: flex;
    flex-direction: column !important;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }

  /* Teammates */
  .main__section__team__article__teammate__card__deck__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .main__section__team__article__teammate__image__source {
    width: 90%;
  }
  /* Contact */
  .main__section__contact__form {
    width: 90%;
  }
  /* Frequent Questions */
  .main__aboutUs__article__accordion {
    width: 90%;
  }

  .main__aboutUs__article__image {
    display: none;
  }

  /* Footer */
  footer {
    flex-direction: column;
  }

  footer .footer__networks {
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  /* Teammates */
  .main__section__team__article__teammate__card__deck__card {
    flex-wrap: wrap;
  }

  .main__section__team__article__teammate__image__source {
    width: 90%;
  }
}
